<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Clear the waiting page -->
    <script>
       document.body.innerHTML = '';
    </script>

    <!-- Hide the page until we have fetched content -->
    <style>
      html {
        display: none;
      }
    </style>

    <title>BzKarma: measure the impact of bugs as an uplift</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-icons.css" media="screen">
    <link rel="icon" type="image/png" href="/assets/icons8-bug-64.png" />
    <link rel="apple-touch-icon" type="image/png" href="assets/icons8-bug-64.png" />

    <style>
      .mt-n3 {
        margin-top: -1rem !important;
        z-index: -1;
      }
    </style>
    </html>
  </head>
  <body class="p-3">
  <h3 class="text-center mb-4">Impact value estimate of uplifts based on bug metadata</h3>
  <div class="card m-auto" style="width:40em">
    <div class="card-header">{{ title }}</div>
    <ul class="list-group list-group-flush">
      {% for key,value in bugs_score %}
      <li class="list-group-item p-0 m-1">
          <details>
            <summary>
              <div class="container" style="margin-top: -1.5em;">
                <div class="row m-0 p-0">
                  <div class="d-inline-block col m-0 ps-4">
                    <a href="https://bugzilla.mozilla.org/{{key}}" title="{{ bugs_summary[key] }}">{{key}}</a>
                  </div>
                  <div class="col m-0 p-0 text-end">
                    <span class="badge bg-secondary">{{value}}</span>
                  </div>
                </div>
              </div>
            </summary>
              <div class="container p-0">
                <div class="row m-0 p-1">
                  <div class="d-inline-block col m-0 pe-4 fs-6 fw-light">
                    {{ bugs_summary[key] }}
                  </div>
                </div>
              </div>
            <table class="table table-light table-striped table-bordered table-sm mt-1 justify-content-center">
              {% for field, score in bugs_details[key] %}
              <tr>
                <th>{{ field }}</th>
                <td class="text-end">{{ score }}</td>
              </tr>
              {% endfor %}
            </table>
          </details>
      </li>
      {% endfor %}

      {% if bugs_score|length  > 1 %}
      <li class="list-group-item  p-0 m-1">
        <div class="container">
          <div class="row m-0 p-0">
            <div class="d-inline-block col m-0 ps-4">Total </div>
            <div class="col m-0 p-0 text-end">
              <span class="badge bg-secondary">{{ total }}</span>
            </div>
          </div>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
  </div>

  <div class="card m-auto mt-3" style="width:40em">
      <details class="card-header">
        <summary>Scoring</summary>
        <table class="table table-light table-striped table-bordered table-sm mt-1 justify-content-center">
          {% for field,score in scoring %}
          <tr>
            <th>{{ field }}</th>
            <td>
            {# evaluates to true if the users variable is iterable #}
            {% if score is iterable %}
              <ul>
                {% for inner_field, inner_score in score %}
                  <li>
                    {{ inner_field }} : {{ inner_score }}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              {{ score }}
            {% endif %}

            </td>
          </tr>
          {% endfor %}
        </table>
        </details>
    </div>
  </div>

<footer class="text-muted">
  <p class="text-center mt-5 pt-5">You can manually append bug numbers to the url to test your bugs (comma separated bug numbers) ex:<br><code>?bug_id=1817192,1811873,1816574,1812680,1814961,1794577,1788004,1817518,1812447</code></p>

  <p class="position-absolute top-100 start-50 z-n1 translate-middle mt-n3">Favicon by <a href="https://icons8.com/license">Icon8</a></p>
</footer>

  </body>
</html>
<!--  show the page now  that we have fetched content -->
<style>
  html {
    display: block;
  }
</style>